@media screen and (max-width: 360px){
	header {
		justify-content: center;
	}
}	

@media screen and (max-height: 765px){
	.game-container {
		max-width: 500px;
	}

	.welcome-content {
		max-width: 470px;
	}
}	

@media screen and (max-height: 850px){
	footer {
		padding-top: 2.5vh;
		padding-bottom: 2.5vh;
	}
	header {
		padding-top: 2.5vh;		
		padding-bottom: 2.5vh;
	}
}		

@media screen and (min-height: 1000px){
	footer {
		padding-top: 5vh;
	}
	header {
		padding-bottom: 2vh;
	}
}		

@media screen and (max-width: 550px), (max-height: 800px){
	.title-text{
		font-size: 36px;	
}	