@media screen and (max-height: 770px){
	footer {
		padding: 20px;
	}
}		

@media screen and (max-height: 740px){
	footer {
		padding: 10px;
	}
	header {
		padding-top: 10px;
	}
}			

@media screen and (max-width: 550px){
	.welcome-title{
		font-size: 36px;
	}
	.congratulations-title{
		font-size: 36px;
	}		
}	