* {
	font-family: "Helvetica";
	box-sizing: border-box;
}

.game-area {
	background: gray;
	padding: 20px;
	border-radius: 60px;
}

.header {
	background: lightgray;
	margin-bottom: 20px;
}

.card-area{
	background: lightblue;
	padding: 20px;
	border-radius: 40px;
	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr;
  	grid-auto-flow: dense;
	grid-gap: 20px;
}

.card-spacer {
	width: 100%;
	position: relative;
}

/*
Pseudo element to create square cards.
Sources:
http://www.mademyday.de/css-height-equals-width-with-pure-css.html
*/
.card-spacer::before {
	content:"";
	display: block;
	padding-bottom: 100%;
	border-color: red;
	/*border: solid;*/
}

.card-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: steelblue;
	border-radius: 20px;
	border: solid;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.card-content:hover {
    box-shadow: 2px 2px 15px 5px #2a7189;
}

.card-symbol {
	margin: 0;
	/* font size based on container size. (from https://codepen.io/CrocoDillon/pen/fBJxu) */
	font-size: calc(4vw + 4vh + 2vmin);
	/*border: solid;*/
	/*visibility: hidden;*/
	display: none;
	/*opacity: 0;*/
}

.picked {
	background-color: yellow;
}

.matched {
	background-color: green;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.counter-area {

}

.counter-title {
}

.counter-number {
}

.star-area {
	font-weight: bold;
}

.star-active {
	color: gold;
	text-shadow: 0px 0px 2px orangered;
}

.star-dead {
	color: gray;
	text-shadow: 0px 0px 0px gray;
}